@import url("fonts.css");

:root {
  --primaryColor: #537aef;
  --primaryHover: #456bde;
  --whiteColor: #ffffff;
  --whiteColorHover: #ececec;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 25px;
  border-radius: 100px;
  transition: 0.3s;
}

.btn-primary {
  background-color: var(--primaryColor);
  color: white;
}

.btn-primary:hover {
  background-color: var(--primaryHover);
}
.btn-white {
  background-color: var(--whiteColor);
  color: var(--primaryColor);
}

.btn-white:hover {
  background-color: var(--whiteColorHover);
}

/* header */
.header {
  background-image: url("/assets/hero-bg.svg");
  background-position: center;
  background-size: cover;
}

.animate-navbar {
  animation: showNavbar 1s 1;
}

@keyframes showNavbar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* end header */

/* cta */
.cta {
  background: url("/assets/img/bg/cta-banner.svg");
  background-size: cover;
  background-position: center;
}
/* end cta */
